<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дома</title>
</head>
<body>
{% extends 'master-template.html' %}
{% block content %}
<div class="container py-4">
    <div class="display-3 fw-bold text-center mb-5">Зошто Шпански јазик?</div>
    <div class="row">
        <div class="col col-12 col-md-6 mb-3 d-flex align-items-center justify-content-center flex-column">
            <div class="display-6 mb-3 fw-bold text-center">
                Шпанскиот јазик е четвртиот најзборуван јазик во светот
            </div>
            <div class="fs-6 ">
                Со приближно 400 милиони луѓе кои го зборуваат шпанскиот јазик, тој се наоѓа
                на четвртото место во светот. Во 21 држава во светот шпанскиот јазик е
                официјален, а тоа значи огромна можност за разбирање со културата и луѓето
                на различни места и континенти во светот. Покрај тоа, познавањето на
                јазикот, може да допринесе до останати бенефити како можности за работа,
                за студирање и можност да се запознае културата на една нација токму
                преку основното средство за комуникација, јзикот.
            </div>
        </div>
        <div class="col col-12 col-md-6 mb-3 align-items-center d-flex">
            <div class="ratio ratio-16x9">
                <img src="../../media/images/home_images/students.jpg" alt="students image"
                     style="object-fit: cover;" class="img-fluid">
            </div>
        </div>
        <div class="col col-12 col-md-6 mb-3 order-1 order-md-0 align-items-center d-flex">
            <div class="ratio ratio-16x9">
                <img src="../../media/images/home_images/books.jpeg" alt="books image"
                     style="object-fit: cover;" class="img-fluid">
            </div>
        </div>
        <div class="col col-12 col-md-6 mb-3 d-flex align-items-center justify-content-center flex-column order-0 order-md-1">
            <div class="display-6 mb-3 fw-bold">
                Патување, пријатели, култура
            </div>
            <div class="fs-6">
                Она кое што е сигурно при учење на нов јазик е потребата да се употребува. Со тоа
                добиваме можност да се запознаваме со луѓе на кои мајчин јазик им е шпанскиот, односно
                луѓе кои споделуваат култура поразлична од нашата. Добиваме можност да го видиме светот
                низ нивниот менталитет, разбирања и сфаќања. Да ја разбираме и уживаме шпанската музика,
                литературата, филмовите и серијалите. Сите предности кои ги добиваме со учење на јазикот
                се убедливо вредни, па затоа, ајде да започнеме од основите.
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>