<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FA8072;">
        <div class="container">
            <a href="/home" class="navbar-brand">Шпањолски</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/home" class="nav-link text-dark mx-1 btn btn-light active">
                            Дома
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/categories" class="nav-link text-dark mx-1 btn btn-light">
                            Категории
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/visit-spain" class="nav-link text-dark mx-1 btn btn-light">
                            Посети ја Шпанија
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/vocabulary" class="nav-link text-dark mx-1 btn btn-light">
                            Случаен вокабулар
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<body>
{% block content %}{% endblock content %}
</body>
</html>