<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'master-template.html' %}
{% block content %}
<div class="container py-4">
    <div class="display-3 fw-bold text-center mb-5">Посети ја Шпанија</div>

    <div class="row">
        <div class="col col-12 col-md-6 mb-3 d-flex align-items-center justify-content-center flex-column">
            <div class="display-6 mb-3 fw-bold text-center">
                {{ cities.0.name }}
            </div>
            <div class="fs-6 ">
                <p><b>Барселона</b> , град на пристаништето (посебно, 2005 г.: 1.593.075), главен град на автономниот
                    регион Каталонија, североисточна Шпанија.</p>
                <p>Топ три места кои мора да ги посетите во Барселона: </p>
                <p><b>La Sagrada Familia</b> - На врвот на која било листа на Топ туристички атракции во Барселона, секогаш
                    ќе ја најдете прекрасната и уште недовршена црква Ла Саграда Фамилија, која беше дизајнирана од
                    Антони Гауди во 1882 година. Оваа уникатна и неверојатна конструкција е нај познатата туристичка
                    атракција во Барселона и нај посетената атракција во Шпанија. </p>
                <p><b>Шоуто на Магичната фонтана</b> -
                    Магичната фонтана е "must see" во Барселона. Никогаш не сте виделе ваква фонтана, ќе се чувствувате
                    волшебно додека уживате во шоу од вода, светлина и музика, бесплатно</p>
                <p><b>Улицата La Rambla</b> -
                    Шпанскиот поет Федерико Гарсија Лорка рекол: "Тоа е единствената улица во светот која би сакал
                    никогаш да не заврши", и скоро да е без крај затоа што сега продолжува до пристаништето.</p>
            </div>
        </div>
        <div class="col col-12 col-md-6 mb-3 align-items-center d-flex">
            <div class="ratio ratio-16x9">
                <img src="{{STATIC_URL}}{{cities.0.image.url}}" alt="Image of Barcelona"
                     class="img-fluid rounded" style="object-fit: cover;">
            </div>
        </div>
        <div class="col col-12 col-md-6 mb-3 d-flex align-items-center justify-content-center flex-column order-0 order-md-1">
            <div class="display-6 mb-3 fw-bold">
                {{ cities.1.name }}
            </div>
            <div class="fs-6">
                <p><b>Севиља</b>, англиски Севиља антички Хиспалис, Град (поп., 2008 г.: град, 690.160), главен град
                    на провинцијата Севиља и автономната заедница Андалузија (comunidad autónoma), Шпанија. </p>
                <p>Топ три места кои мора да ги посетите во Севиља: </p>
                <p><b>Катедралата на Севиља</b> - Она што мора да го видите кога ќе ја посетите Севиља е катедралата
                    Saint Mary of the See, најдобро позната како Катедралата на Севиља. Таа е најголемата готска
                    катедрала и трета најголема црква во светот, каде се наоѓа и гробот на Кристофер Колумбо. Од
                    нејзиниот врв се гледа панорамата на градот која ќе ве воодушеви. </p>
                <p><b>Паркот Maria Luisa</b> -
                    Градините на палатата San Telmo се отворени за посетителите кои остануваат воодушевени од
                    фонтаните, декорациите и природата која може да ја најдат во овој парк. Не постојат доволно
                    зборови кои можат да ви ја опишат глетката која се доживува.</p>
                <p><b>Шпанскиот плоштад</b> -
                    Не заборавајте да прошетате по прекрасниот плоштад Plaza de Espana изграден во 1929 година каде
                    целиот ренесансен стил на традиционалната шпанска архитектура ќе ве воодушеви.</p>
            </div>
        </div>
        <div class="col col-12 col-md-6 mb-3 order-0 order-md-0 align-items-center d-flex">
            <div class="ratio ratio-16x9">
                <img src="{{STATIC_URL}}{{cities.1.image.url}}" alt="Image of Seville"
                     class="img-fluid rounded" style="object-fit: cover;">
            </div>
        </div>
        <div class="col col-12 col-md-6 mb-3 d-flex align-items-center justify-content-center flex-column order-md-1">
            <div class="display-6 mb-3 fw-bold">
                {{ cities.2.name }}
            </div>
            <div class="fs-6 ">
                <p>Палма, целосно <b>Палма де Мајорка</b>, град, главен град на провинцијата (провинција) на
                    Балеарските острови и comunidad autónoma (автономна заедница), Шпанија, во западното Средоземно Море.  </p>
                <p>Топ три места кои мора да ги посетите во Палма де Мајорка: </p>
                <p><b>Островот Sa Dragonera</b> - Доколку сте авантуристички дух, ја сакате природата и животинките
                    во неа, островот Sa Dragonera на јужно-западниот дел од Палма де Мајорка е must see place.
                    Со самото пристигнување на островот Ве здружуваат огромен број на ендемични гуштерчиња
                    кои се заинтересирани за се што носите на вас. Нема да згрешите со одлуката да го посетите ова место.</p>
                <p><b>Catedral de Santa María de Palma de Mallorca</b> -
                    Катедралата Ла Сеу или катедралата во Палма де Мајорка, (шпански: Catedral de Santa María de Palma
                    de Mallorca) е катедрала и базилика која се наоѓа во истоимениот град, на островот Мајорка, Шпанија.
                    Прекрасна знаменитост која заслужува да се посети.</p>
                <p><b>Плажи</b> -
                    Не е возможно да се одвојат плажите една од друга кои се наоѓаат на островот Палма де Мајорка
                    секоја една е приказна сама за себе и вреди да се посети. За сите кои се љубители на тиркизното
                    море и златниот песок, посетете што повеќе плажи на островот.</p>
            </div>
        </div>
        <div class="col col-12 col-md-6 mb-3 align-items-center order-md-1 d-flex">
            <div class="ratio ratio-16x9">
                <img src="{{STATIC_URL}}{{cities.2.image.url}}" alt="Image of Palma de Mallorca"
                     class="img-fluid rounded" style="object-fit: cover;">
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>